<h1>@ViewBag.Title</h1>

<p>Salam aleykum!</p>

<p>
    Articles:
    <div class="container">
        <div class="row justify-content-center">
            <a asp-controller="Article" asp-action="Index" asp-route-id=1>Article 1</a>
        </div>
        <div class="row justify-content-center">
            <a asp-controller="Article" asp-action="Index" asp-route-id=2>Article 2</a>
        </div>
        <div class="row justify-content-center">
            <a asp-controller="Article" asp-action="Index" asp-route-id=3>Article 3</a>
        </div>
    </div>
</p>