<!DOCTYPE html>
<html lang="pl">
    <head>
        <meta charset="utf-8" />
        <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
        <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet" crossorigin="anonymous">
    </head>
    <body>
        <header>
            <nav>
                <div class="navbar-nav flex-grow-1">
                    <div class="nav-item">
                    <a class="nav-link" asp-controller="Home" asp-action="Index">Home</a>
                    <a class="nav-link" asp-controller="Student" asp-action="Index">Students</a>
                    </div>
                </div>
            </nav>
        </header>
        <main>
            @RenderBody()
        </main>
        <footer>
            &copy; 2022
        </footer>
    </body>
</html>